* {
    /*box-sizing: border-box;*/
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    
}
body {
    background-color: #435165;
    

}
.registration {
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    font-size: 20px;

    
}
.registration h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.registration form label {
    display: flex;
    justify-content: left;
   
  
} 

.registration form input[type="password"], .registration form input[type="text"], .registration form input[type=email],
.registration form input[type="password2"],.registration form input[type="Security1"],.registration form input[type="Security2"] {
    width: 350px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}  
.registration form input[type="submit"] {
    width: 45%;
    padding: 15px;

   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    float:right; 

}
.registration form input[type="cancel"] {
    width: 40%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    /*float:left; */
    text-align: center; 

}
.registration form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.registration form input[type="cancel"]:hover {
    background-color: #2868c7;
      transition: background-color 0.2s;
  }
