body {
    background-color: rgb(13,235,243);
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  #Header{
    float: left;
    font-size: 15;
    font-weight: bold;
    font-style: italic;
  }
  li {
    float: right; 
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form .Button1 {
    
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    color: white;
    background-color: rgb(33, 103, 105);
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
#form .Button2 {
    
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    color: white;
    background-color: rgb(33, 103, 105);
    border: none;
    border-radius: 4px;
    float:right;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
    background: url(valid.png)no-repeat;
    background-size: 20px 20px;
    background-position: right; 
}

.input-control.error input {  
   border-color: red;
  
   background: url(invalid.png)no-repeat;
   background-size: 20px 20px;

   background-position: right;  

    /* error around box design */
    
}


.input-control .error {
    color: red;
    font-size: 15px;
    height: 70px;
  
    /*error message*/
}